.hover-effect{
    transition: all .3s ease;
}

.hover-effect::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $color-black;
    transition: width 0.3s ease;
}

.hover-effect:hover::after {
    width: 100%;
}


.hovered{
    transform: scale(1.2);
}

.other-hovered{
    filter: blur(2px) saturate(30%);
}