$color-black: rgba(47, 47, 47, 1);
$color-green: rgba(130, 203, 172, 1);
$color-pink: rgba(255, 127, 150, 1);
$color-yellow: rgba(234, 215, 27, 1);
$color-white: rgba(255, 255, 255, 1);

@mixin block-line-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin text-13 {
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
}

@mixin text-64{
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
}

@mixin text-paragraph{
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    
}